@import url('font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic');
@font-face{
	font-family: Panton; /* Имя шрифта */
	src: url(../fonts/Panton-Light.otf); /* Путь к файлу со шрифтом */
	font-weight: 200;
}
@font-face{
	font-family: Panton; /* Имя шрифта */
	src: url(../fonts/Panton-Regular.otf); /* Путь к файлу со шрифтом */
}


.sms-aero *{
	outline: none;
}

/*datepicker*/
.datepicker--nav-action.-disabled-,.s-hidden {
	visibility:hidden
}
.datepicker--cells {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:-webkit-box;
	display:-moz-box;
	display:flex;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap
}
.datepicker--cell,.datepicker--days-names {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:-webkit-box;
	display:-moz-box
}
.datepicker--cell {
	border-radius:50%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	cursor:pointer;
	display:flex;
	position:relative;
	-webkit-align-items:center;
	-ms-flex-align:center;
	-webkit-box-align:center;
	-moz-box-align:center;
	align-items:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	justify-content:center;
	height:32px;
	z-index:1;
	font-size:13px
}
.datepicker--cell.-focus- {
	background:#fff
}
.datepicker--cell.-current- {
	color:#f35
}
.datepicker--cell.-current-.-focus- {
	background:#fff;
	color:#253140
}
.datepicker--cell.-current-.-in-range- {
	color:#4EB5E6
}
.datepicker--cell.-in-range- {
	background:rgba(92,196,239,.1);
	color:#4a4a4a;
	border-radius:0
}
.datepicker--cell.-in-range-.-focus- {
	background-color:rgba(92,196,239,.2)
}
.datepicker--cell.-disabled- {
	cursor:default;
	color:#aeaeae
}
.datepicker--cell.-disabled-.-focus- {
	color:#aeaeae
}
.datepicker--cell.-disabled-.-in-range- {
	color:#a1a1a1
}
.datepicker--cell.-disabled-.-current-.-focus- {
	color:#aeaeae
}
.datepicker--cell.-range-from- {
	border:1px solid rgba(92,196,239,.5);
	background-color:rgba(92,196,239,.1);
	border-radius:4px 0 0 4px
}
.datepicker--cell.-range-to- {
	border:1px solid rgba(92,196,239,.5);
	background-color:rgba(92,196,239,.1);
	border-radius:0 4px 4px 0
}
.datepicker--cell.-selected-,.datepicker--cell.-selected-.-current- {
	color:#fff;
	background:#7eb336
}
.datepicker--cell.-range-from-.-range-to- {
	border-radius:4px
}
.datepicker--cell.-selected- {
	border:none
}
.datepicker--cell.-selected-.-focus- {
	background:#7eb336
}
.datepicker--cell:empty {
	cursor:default
}
.datepicker--days-names {
	display:flex;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin:8px 0 3px
}
.datepicker--day-name {
	color:#5d6978;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:-webkit-box;
	display:-moz-box;
	display:flex;
	-webkit-align-items:center;
	-ms-flex-align:center;
	-webkit-box-align:center;
	-moz-box-align:center;
	align-items:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	justify-content:center;
	-webkit-flex:1;
	-ms-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	flex:1;
	text-align:center;
	text-transform:lowercase;
	font-size:11px
}
.datepicker--body,.datepicker--pointer,.datepicker-inline .datepicker--pointer {
	display:none
}
.datepicker--cell-day {
	width:14.28571%
}
.datepicker--cells-months {
	height:170px
}
.datepicker--cell-month {
	width:21.33%;
	height:30%;
	margin:0 4px
}
.datepicker--cells-years,.datepicker--years {
	height:170px
}
.datepicker--cell-year {
	width:25%;
	height:33.33%
}
.datepickers-container {
	position:absolute;
	left:0;
	top:0;
	z-index:9998
}
@media print {
	.datepickers-container {
		display:none
	}
}
.datepicker {
	background:#f2f4f6;
	width:280px;
	box-shadow:0 4px 12px rgba(0,0,0,.15);
	border-radius:4px;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	font-size:14px;
	position:absolute;
	left:-100000px;
	opacity:0;
	-moz-transition:opacity .3s ease,-moz-transform .3s ease,left 0s .3s;
	-webkit-transition:opacity .3s ease,-webkit-transform .3s ease,left 0s .3s,-webkit-transform .3s ease;
	transition:opacity .3s ease,transform .3s ease,left 0s .3s,-webkit-transform .3s ease;
	z-index:9998
}
.datepicker.-from-top- {
	-webkit-transform:translateY(-8px);
	-moz-transform:translateY(-8px);
	-ms-transform:translateY(-8px);
	transform:translateY(-8px)
}
.datepicker.-from-right- {
	-webkit-transform:translateX(8px);
	-moz-transform:translateX(8px);
	-ms-transform:translateX(8px);
	transform:translateX(8px)
}
.datepicker.-from-bottom- {
	-webkit-transform:translateY(8px);
	-moz-transform:translateY(8px);
	-ms-transform:translateY(8px);
	transform:translateY(8px)
}
.datepicker.-from-left- {
	-webkit-transform:translateX(-8px);
	-moz-transform:translateX(-8px);
	-ms-transform:translateX(-8px);
	transform:translateX(-8px)
}
.datepicker.active {
	opacity:1;
	-webkit-transform:translate(0);
	-moz-transform:translate(0);
	-ms-transform:translate(0);
	transform:translate(0);
	-moz-transition:opacity .3s ease,-moz-transform .3s ease,left 0s 0s;
	-webkit-transition:opacity .3s ease,-webkit-transform .3s ease,left 0s 0s,-webkit-transform .3s ease;
	transition:opacity .3s ease,transform .3s ease,left 0s 0s,-webkit-transform .3s ease
}
.datepicker-inline .datepicker {
	border-color:#d7d7d7;
	box-shadow:none;
	position:static;
	left:auto;
	right:auto;
	opacity:1;
	-webkit-transform:none;
	-moz-transform:none;
	-ms-transform:none;
	transform:none
}
.datepicker--content {
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	padding:0 20px 20px
}
.datepicker--nav-title:hover {
	background:#fff
}
.-top-center- .datepicker--pointer,.-top-left- .datepicker--pointer,.-top-right- .datepicker--pointer {
	top:-moz-calc(96%);
	top:calc(96%);
	-webkit-transform:rotate(135deg);
	-moz-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	transform:rotate(135deg)
}
.-right-bottom- .datepicker--pointer,.-right-center- .datepicker--pointer,.-right-top- .datepicker--pointer {
	right:-moz-calc(96%);
	right:calc(96%);
	-webkit-transform:rotate(225deg);
	-moz-transform:rotate(225deg);
	-ms-transform:rotate(225deg);
	transform:rotate(225deg)
}
.-bottom-center- .datepicker--pointer,.-bottom-left- .datepicker--pointer,.-bottom-right- .datepicker--pointer {
	bottom:-moz-calc(96%);
	bottom:calc(96%);
	-webkit-transform:rotate(315deg);
	-moz-transform:rotate(315deg);
	-ms-transform:rotate(315deg);
	transform:rotate(315deg)
}
.-left-bottom- .datepicker--pointer,.-left-center- .datepicker--pointer,.-left-top- .datepicker--pointer {
	left:-moz-calc(96%);
	left:calc(96%);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg)
}
.-bottom-left- .datepicker--pointer,.-top-left- .datepicker--pointer {
	left:10px
}
.-bottom-right- .datepicker--pointer,.-top-right- .datepicker--pointer {
	right:10px
}
.-bottom-center- .datepicker--pointer,.-top-center- .datepicker--pointer {
	left:-moz-calc(45%);
	left:calc(45%)
}
.-left-top- .datepicker--pointer,.-right-top- .datepicker--pointer {
	top:10px
}
.-left-bottom- .datepicker--pointer,.-right-bottom- .datepicker--pointer {
	bottom:10px
}
.-left-center- .datepicker--pointer,.-right-center- .datepicker--pointer {
	top:-moz-calc(45%);
	top:calc(45%)
}
.datepicker--body.active {
	display:block
}
.datepicker--nav,.datepicker--nav-action,.datepicker--nav-title {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:-webkit-box;
	display:-moz-box
}
.datepicker--nav {
	display:flex;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	-webkit-box-pack:justify;
	-moz-box-pack:justify;
	justify-content:space-between;
	padding:20px 20px 10px;
	min-height:32px
}
.datepicker--nav-action,.datepicker--nav-title {
	display:flex;
	cursor:pointer;
	-webkit-align-items:center;
	-ms-flex-align:center;
	-webkit-box-align:center;
	-moz-box-align:center;
	align-items:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	justify-content:center
}
.datepicker--nav-action {
	width:32px;
	border-radius:50%;
	background:#f35;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.datepicker--nav-action:hover path {
	fill:none
}
.datepicker--nav-action svg {
	width:32px;
	height:32px
}
.datepicker--nav-action path {
	fill:none;
	stroke:#fff;
	stroke-width:2px
}
.datepicker--nav-title {
	border-radius:4px;
	padding:0 8px
}
.datepicker--buttons,.datepicker--time {
	border-top:1px solid #efefef;
	padding:4px
}
.datepicker--nav-title i {
	font-style:normal;
	margin-left:5px
}
.datepicker--nav-title.-disabled- {
	cursor:default;
	background:0 0
}
.datepicker--buttons {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:-webkit-box;
	display:-moz-box;
	display:flex
}
.datepicker--button {
	color:#4EB5E6;
	cursor:pointer;
	border-radius:4px;
	-webkit-flex:1;
	-ms-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	flex:1;
	display:-webkit-inline-flex;
	display:-ms-inline-flexbox;
	display:-webkit-inline-box;
	display:-moz-inline-box;
	display:inline-flex;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	justify-content:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	-webkit-box-align:center;
	-moz-box-align:center;
	align-items:center;
	height:32px
}
.datepicker--time,.datepicker--time-current {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:-webkit-box;
	display:-moz-box
}
.datepicker--button:hover {
	color:#4a4a4a;
	background:#f0f0f0
}
.datepicker--time {
	display:flex;
	-webkit-align-items:center;
	-ms-flex-align:center;
	-webkit-box-align:center;
	-moz-box-align:center;
	align-items:center;
	position:relative
}
.datepicker--time.-am-pm- .datepicker--time-sliders {
	-webkit-flex:0 1 138px;
	-ms-flex:0 1 138px;
	-webkit-box-flex:0;
	-moz-box-flex:0;
	flex:0 1 138px;
	max-width:138px
}
.datepicker--time-sliders {
	-webkit-flex:0 1 153px;
	-ms-flex:0 1 153px;
	-webkit-box-flex:0;
	-moz-box-flex:0;
	flex:0 1 153px;
	margin-right:10px;
	max-width:153px
}
.datepicker--time-label {
	display:none;
	font-size:12px
}
.datepicker--time-current {
	display:flex;
	-webkit-align-items:center;
	-ms-flex-align:center;
	-webkit-box-align:center;
	-moz-box-align:center;
	align-items:center;
	-webkit-flex:1;
	-ms-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	flex:1;
	font-size:14px;
	text-align:center;
	margin:0 0 0 10px
}
.datepicker--time-current-colon {
	margin:0 2px 3px;
	line-height:1
}
.datepicker--time-current-hours,.datepicker--time-current-minutes {
	line-height:1;
	font-size:19px;
	font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	position:relative;
	z-index:1
}

.datepicker--time-current-hours:after,.datepicker--time-current-minutes:after {
	content:'';
	background:#f0f0f0;
	border-radius:4px;
	position:absolute;
	left:-2px;
	top:-3px;
	right:-2px;
	bottom:-2px;
	z-index:-1;
	opacity:0
}
.datepicker--time-current-hours.-focus-:after,.datepicker--time-current-minutes.-focus-:after {
	opacity:1
}
.datepicker--time-current-ampm {
	text-transform:uppercase;
	-webkit-align-self:flex-end;
	-ms-flex-item-align:end;
	align-self:flex-end;
	color:#9c9c9c;
	margin-left:6px;
	font-size:11px;
	margin-bottom:1px
}
.datepicker--time-row {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:-webkit-box;
	display:-moz-box;
	display:flex;
	-webkit-align-items:center;
	-ms-flex-align:center;
	-webkit-box-align:center;
	-moz-box-align:center;
	align-items:center;
	font-size:11px;
	height:17px;
	background:-webkit-linear-gradient(left,#dedede,#dedede) left .5% 1px no-repeat;
	background:-moz-linear-gradient(left,#dedede,#dedede) left .5% 1px no-repeat;
	background:linear-gradient(to right,#dedede,#dedede) left .5% 1px no-repeat
}
.datepicker--time-row:first-child {
	margin-bottom:4px
}
.datepicker--time-row input[type=range] {
	background:0 0;
	cursor:pointer;
	-webkit-flex:1;
	-ms-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	flex:1;
	height:100%;
	padding:0;
	margin:0;
	-webkit-appearance:none
}
.datepicker--time-row input[type=range]::-ms-tooltip {
	display:none
}
.datepicker--time-row input[type=range]:hover::-webkit-slider-thumb {
	border-color:#b8b8b8
}
.datepicker--time-row input[type=range]:hover::-moz-range-thumb {
	border-color:#b8b8b8
}
.datepicker--time-row input[type=range]:hover::-ms-thumb {
	border-color:#b8b8b8
}
.datepicker--time-row input[type=range]:focus {
	outline:0
}
.datepicker--time-row input[type=range]:focus::-webkit-slider-thumb {
	background:#5cc4ef;
	border-color:#5cc4ef
}
.datepicker--time-row input[type=range]:focus::-moz-range-thumb {
	background:#5cc4ef;
	border-color:#5cc4ef
}
.datepicker--time-row input[type=range]:focus::-ms-thumb {
	background:#5cc4ef;
	border-color:#5cc4ef
}
.datepicker--time-row input[type=range]::-webkit-slider-thumb {
	-webkit-appearance:none;
	box-sizing:border-box;
	height:12px;
	width:12px;
	border-radius:3px;
	border:1px solid #dedede;
	background:#fff;
	cursor:pointer;
	-webkit-transition:background .2s;
	transition:background .2s;
	margin-top:-6px
}
.datepicker--time-row input[type=range]::-moz-range-thumb {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:12px;
	width:12px;
	border-radius:3px;
	border:1px solid #dedede;
	background:#fff;
	cursor:pointer;
	-moz-transition:background .2s;
	transition:background .2s
}
.datepicker--time-row input[type=range]::-ms-thumb {
	box-sizing:border-box;
	height:12px;
	width:12px;
	border-radius:3px;
	border:1px solid #dedede;
	background:#fff;
	cursor:pointer;
	transition:background .2s
}

.datepicker--time-row input[type=range]::-webkit-slider-runnable-track {
	border:none;
	height:1px;
	cursor:pointer;
	color:transparent;
	background:0 0
}
.datepicker--time-row input[type=range]::-moz-range-track {
	border:none;
	height:1px;
	cursor:pointer;
	color:transparent;
	background:0 0
}
.datepicker--time-row input[type=range]::-ms-track {
	border:none;
	height:1px;
	cursor:pointer;
	color:transparent;
	background:0 0
}
.datepicker--time-row input[type=range]::-ms-fill-lower {
	background:0 0
}
.datepicker--time-row input[type=range]::-ms-fill-upper {
	background:0 0
}
.datepicker--time-row span {
	padding:0 12px
}
.datepicker--time-icon {
	color:#9c9c9c;
	border:1px solid;
	border-radius:50%;
	font-size:16px;
	position:relative;
	margin:0 5px -1px 0;
	width:1em;
	height:1em
}

.datepicker--time-icon:after,.datepicker--time-icon:before {
	content:'';
	background:currentColor;
	position:absolute
}
.datepicker--time-icon:after {
	height:.4em;
	width:1px;
	left:-moz-calc(49%);
	left:calc(49%);
	top:-moz-calc(51%);
	top:calc(51%);
	-webkit-transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%)
}
.datepicker--time-icon:before {
	width:.4em;
	height:1px;
	top:-moz-calc(51%);
	top:calc(51%);
	left:-moz-calc(49%);
	left:calc(49%)
}
.datepicker--cell-day.-other-month-,.datepicker--cell-year.-other-decade- {
	color:#d3dae1
}
.datepicker--cell-day.-other-month-:hover,.datepicker--cell-year.-other-decade-:hover {
	color:#253140
}
.-disabled-.-focus-.datepicker--cell-day.-other-month-,.-disabled-.-focus-.datepicker--cell-year.-other-decade- {
	color:#dedede
}
.-selected-.datepicker--cell-day.-other-month-,.-selected-.datepicker--cell-year.-other-decade- {
	color:#fff;
	background:#a2ddf6
}
.-selected-.-focus-.datepicker--cell-day.-other-month-,.-selected-.-focus-.datepicker--cell-year.-other-decade- {
	background:#8ad5f4
}
.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade- {
	background-color:rgba(92,196,239,.1);
	color:#ccc
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
	background-color:rgba(92,196,239,.2)
}
.datepicker--cell-day.-other-month-:empty,.datepicker--cell-year.-other-decade-:empty {
	background:0 0;
	border:none
}
/* datepicker end */
.sms-aero {
	font: 15px/20px Ubuntu;
	color: #253140;
}
.sms-aero small{
	font: 13px/20px Ubuntu;
	color: #5d6978
}
.sms-aero h1, .sms-aero h2, .sms-aero h3, .sms-aero h4, .sms-aero h5 {
	font: 200 Panton;
	color: #0f151a;
}

.sms-aero h1{
	font: 200 38px/40px Panton;
}

.sms-aero h2{
	font: 200 30px/40px Panton;
}

.sms-aero h3{
	font: 20px/30px Panton;
}

.sms-aero h4{
	font: 17px/20px Panton;
}

.sms-aero h5{
	font: 17px/30px Ubuntu;
	color: #253140;
}


.sms-aero a, .sms-aero a:visited, .sms-aero a:active{
	color: #36bed9;
}

.sms-aero a:hover{
	color: #49d6f2;
}


.sms-aero .btn{
	color: white !important;
	border: none;
	border-radius: 50px;
	padding: 12px 28px;
	font: 16px/16px Panton;
	transition: none;
	cursor: pointer;
}
.sms-aero .btn.btn-large{
	font: 19.5px/19.5px Panton;
	padding: 20px 30px;
}
.sms-aero .btn.btn-large small{
	color: white;
	font: 12.5px/12.5px Ubuntu;
}
.sms-aero .btn.btn-green{
	background-color: #7eb336;
}
.sms-aero .btn.btn-green:hover{
	box-shadow: inset 0 -2px 0 0 #599900;
	-webkit-box-shadow: inset 0 -2px 0 0 #599900;
}
.sms-aero .btn.btn-green:active{
	background-color:#599900;
}

.sms-aero .btn.btn-blue{
	background-color: #36bed9;
}
.sms-aero .btn.btn-blue:hover{
	background-color: #36bed9;
	box-shadow: inset 0 -2px 0 0 #1da4bf;
	-webkit-box-shadow: inset 0 -2px 0 0 #1da4bf;
}
.sms-aero .btn.btn-blue:active{
	background-color: #1da4bf;
}

.sms-aero .btn.btn-white-red{
	background-color: white;
	color: #0f151a !important;
	padding: 11px 27px;
	box-sizing: border-box;
	border: 1px solid #cdd4dc;
}
.sms-aero .btn.btn-white-red:hover{
	box-shadow: inset 0 -2px 0 0 #d9213f;
	-webkit-box-shadow: inset 0 -2px 0 0 #d9213f;
	color: white !important;
	padding: 12px 28px;
	background-color: #ff3355;
	border: none;
}
.sms-aero .btn.btn-white-red:active{
	background-color: #d9213f;
	color: white !important;
	border: none;
	padding: 12px 28px;
}
.sms-aero .btn.btn-white-red.active{
	background-color: #ff3355;
	color: white !important;
	padding: 11px 28px;
	border: none;
}

.sms-aero .input-wrapper input, .sms-aero .a-selected-item, .sms-aero textarea{
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: none;
	background-color: #f2f4f6;
	box-shadow: inset 0 2px 0 0 #d3dae1;
	-webkit-box-shadow: inset 0 2px 0 0 #d3dae1;
	border-radius: 50px;
	padding: 13px 24px;
	font: 15px/15px Ubuntu;
	color: #0f151a;
}
.sms-aero textarea{
	border-radius: 10px;
}

.sms-aero .a-select-wrapper{
	position: relative;
	transition: z-index 0.5s step-end;
	z-index: 1;
}
.sms-aero .a-select-wrapper .a-items{
	position: absolute;
	width: 100%;
	left: 0;
	top: 100%;
	margin: -24px 0 0 0;
	background-color: #d3dae1;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: max-height 0.5s, visibility 0.5s step-end;
	visibility: collapse;
	overflow: hidden;
	max-height: 0;

}
.sms-aero .a-select-wrapper ul{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	list-style: none;
	overflow: auto;
	padding: 0;
	margin: 0;
	max-height: inherit;
	padding: 24px 0 0 0;
	box-sizing: border-box;
}

.sms-aero select{
	display: none;
}

.sms-aero .a-select-wrapper.opened{
	transition: none;
	z-index: 10;
}

.sms-aero .a-select-wrapper.opened > .a-items{
	transition: max-height 0.5s;
	visibility: visible;
	z-index: 8;
}

.sms-aero .a-select-wrapper.opened > .a-selected-item{
	z-index: 9;
}
.sms-aero .a-select-wrapper .a-items.to-top{
	bottom: 100%;
	top: auto;
	margin: 0 0 -24px 0;
	border-radius: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.sms-aero .a-select-wrapper  .a-items.to-top ul{
	border-radius: 0;
	padding: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.sms-aero .a-select-wrapper  .a-items.to-top ul > li:last-child{
	margin-bottom: 24px;
}
.sms-aero .time-select, .sms-aero .date-select .js-date-sending{
	padding-left: 40px !important;
}

.sms-aero .date-select{
	position: relative;
}
.date-time-select > div{
	display: inline-block;
	width: 150px;
	margin-bottom: 0 !important;
	vertical-align: middle;
}
.date-time-select > div:last-of-type{
	width: 123px;
}

.sms-aero .date-select:before{
	content: "\f073";
	position: absolute;
	font: normal normal normal 14px/1 FontAwesome;
	top: 14px;
	left: 14px;
	z-index: 6;
}

.sms-aero .time-select-wrapper:before{
	content: "\f017";
	position: absolute;
	font: normal normal normal 14px/1 FontAwesome;
	top: 14px;
	left: 14px;
	white-space: nowrap;
	z-index: 1001;
}

.sms-aero .time-select.opened:before{
	z-index: 1000;
}

.sms-aero .a-select-wrapper ul > li{
	padding: 12px 24px;
	margin: 0;
}

.sms-aero .a-select-wrapper ul > li:hover{
	background-color: #36bed9;
	color: white;
}

.sms-aero .a-selected-item{
	height: 41px;
	overflow: hidden;
	position: relative;
	z-index: 5;
}

.sms-aero .a-selected-item:before{
	content: attr(data-value);
	overflow: hidden;
	display: block;
	white-space: nowrap;
	margin-right: 20px;
	line-height: 16px;
}
.sms-aero .a-selected-item:after{
	content: "\f078";
	position: absolute;
	font: normal normal normal 14px/1 FontAwesome;
	top: 14px;
	right: 16px;
	white-space: nowrap;
}

.sms-aero .input-wrapper input.invalid, .sms-aero .input-wrapper textarea.invalid{
	box-shadow: none;
	-webkit-box-shadow: none;
	border: 2px solid #ff3355;
}

.sms-aero .input-wrapper > .input-info.invalid{
	color: #ff3355;
}

.sms-aero .input-wrapper > .input-info, .sms-aero .input-wrapper > .input-title{
	font: 11px/11px Ubuntu;
	color: #5d6978;
	margin-bottom: 5px;
	display: block;
}
.sms-aero .input-wrapper > .input-info{
	margin: 5px 15px 0;
}
.sms-aero .center-text{
	text-align: center;
}

.sms-aero ::-webkit-input-placeholder {color: #5d6978;}
.sms-aero ::-moz-placeholder          {color: #5d6978;}/* Firefox 19+ */
.sms-aero :-moz-placeholder           {color: #5d6978;}/* Firefox 18- */
.sms-aero :-ms-input-placeholder      {color: #5d6978;}

.sms-aero .checkbox input, .sms-aero .radio input{
	display: none;
}

.sms-aero .checkbox input + span:before{
	content: '';
	position: relative;
	margin-right: 10px;
	top: -2px;
	vertical-align: middle;
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 4px;
	box-shadow: inset 0 2px 0 0 #d3dae1;
	-webkit-box-shadow: inset 0 2px 0 0 #d3dae1;
	background-color: #f2f4f6;
	box-sizing: border-box;
}

.sms-aero .checkbox input:checked + span:before{
	content: "\f00c";
	font: normal normal normal 14px/1 FontAwesome;
	background-color: #36bed9;
	color: white;
	box-shadow: none;
	-webkit-box-shadow: none;
	padding: 3px 0 0 3px;
}

.sms-aero .radio input + span:before{
	content: '';
	position: relative;
	margin-right: 10px;
	top: -2px;
	vertical-align: middle;
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	box-shadow: inset 0 2px 0 0 #d3dae1;
	-webkit-box-shadow: inset 0 2px 0 0 #d3dae1;
	background-color: #f2f4f6;
	box-sizing: border-box;
}

.sms-aero .notice-page .checkbox span:before{
	margin-top: -2px;
}


.sms-aero .radio input:checked + span:before{
	background-color: white;
	box-shadow: none;
	border: 7px solid #36bed9;
	-webkit-box-shadow: none;
}



.a-hider > input{
	display: none;
}

.a-hider > label:before{
	content: "\f067";
	font: normal normal normal 14px/1 FontAwesome;
	margin-right: 5px;
}

.a-hider > input:checked + label:before{
	content: "\f068";
}


.a-hider > ul{
	max-height: 0;
	overflow: hidden;
	margin: 10px 0 0 0;
	transition: max-height 0.5s;
}
.a-hider > ul > li{
	padding: 10px;
	margin: 0;
	color: #1da4bf;
	cursor: pointer;
}

.a-hider > ul > li:hover, .a-hider > ul > li.active{
	background-color: #1da4bf;
	color: white;
}

.a-hider > input:checked + label + ul{
	max-height: 250px;
}
.a-hider span, .a-hider label{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.notice-righ-side{
	padding-left: 20px;
	display: none;
}

.notice-righ-side .a-row:not(:last-child){
	border-bottom: 1px solid #d3dae1;
}

.notice-righ-side .a-col-1-2:first-child, .notice-righ-side .a-col-1-3, .mailign-page .a-col-1-2:first-child{
	margin-top: 10px;
}
.notice-righ-side .a-col-1-2:first-child small, .notice-righ-side .a-col-1-3 small{
	display: block;

}
.notice-righ-side .a-col-1-3, .notice-righ-side .a-col-1-2, .notice-righ-side .a-col-2-3,
.notice-righ-side .a-row, .mailign-page .a-row, .mailign-page .a-col-1-2:first-child,
.mailign-page .a-select-wrapper, .mailign-page .input-wrapper, .mailign-page .time_sending {
	margin-bottom: 10px;
}

.mailign-page .a-select-wrapper + #to_who + .input-wrapper{
	margin-top: -5px;
}

.notice-righ-side textarea{
	height: 150px;
}

.sms-aero .order-statuses .input-title{
	margin-top: 10px;
}

.sms-aero .order-statuses .input-info{
	margin-bottom: 10px;
}
.phone-adder > *{vertical-align: top;}
.sms-aero .phone-adder .a-select-wrapper {
	display: inline-block;
	width: calc(100% - 135px);
}
.sms-aero .phone-adder textarea{
	overflow: auto;
}
#client-good-state-change div:not(.switcher) ul{
	margin-left: 20px;
}

.sms-aero .a-row:after, .mailign-page:after{
	content: '';
	display: block;
	clear: both;
}



.red-text{
	color: #d9213f;
}
.aero_pagination > li{
	display: inline-block;
	vertical-align: middle;
}

.aero_pagination .btn.btn-blue{
	background-color: #d3dae1;
}

.aero_pagination > li a, .aero_pagination > li.active{
	width: 40px;
	height: 40px;
	padding: 0 !important;
	line-height: 40px !important;
	text-align: center;
}

.aero_pagination > li.active{
	box-shadow: none !important;
	cursor: default !important;
}

.aero_pagination > li a{
	display: block;
}


/*///////////////////////////////////*/

.wrapper_aero_setting h3:first-child{
	margin-top: 0;
}
.wrapper_aero_setting .aero_module_setting{
	margin-bottom: 20px;
}
#wpcontent  {
	background-color:  #fff;
}
.wrap_logo  {
	margin:  30px 0;
}.wrap_logo:after{	content: '';	display: block;	clear: both;}
#logo_aero  {
	margin-left: 10px;
	height:  auto;	float: left;
}#notice-side{	margin-left: 250px;	text-align: center;}.a-notice i.fa.fa-close{	position: absolute;	height: 38px;	top: 0;	width: 38px;	line-height: 38px;	right: 0;	text-align: center;	cursor: pointer;}.a-notice.a-success{	background-color: #7eb336;}.a-notice.a-fail{	background-color: #ff3355;}.a-notice{	color: white;	display: inline-block;	padding: 9px 28px;	border-radius: 8px;	margin-top: 8px;	min-width: 210px;	text-align: left;	position: relative;}
#wrapper_left_aero  {
	width:  251px;
	float:  left;
	overflow: hidden;
	margin-top: 0;
}

#wrapper_left_aero > *{
	width: 251px;
}

#menu_aero {
	margin-top: 0;
}

#menu_aero li > a{
	display: block;
	text-decoration: none;
}


#aero_info_block  {
	margin-top:  25px;
	padding-left:  25px;
}
#aero_info_block p  {
	margin:  0;
	line-height:  16px;
}
#aero_info_block p#balance  {
	margin-bottom:  5px;
}
#aero_info_block + div  {
	margin-top:  55px;
}
#aero_soc_block  {
	text-align:  left;
	padding-left:  25px;
}
#aero_soc_block li {
	width:  45px;
	height:  45px;
	background-color:  #d3dae1;
	text-align:  center;
	border-radius:  50%;
	display:  inline-block;
	margin-right:  10px;
	cursor:  pointer;
	background-size: 19px auto;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
#aero_soc_block li a {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#aero_soc_block li:first-child {
	background-image: url("../img/vk.png");
}
#aero_soc_block li:first-child + li {
	background-image: url("../img/facebook.png");
}
#aero_soc_block li:last-child {
	background-image: url("../img/twitter.png");
}
#aero_soc_block li:hover  {
	background-color:  #36bed9;
	box-shadow: inset 0 -2px 0 0 #1da4bf;
	-webkit-box-shadow: inset 0 -2px 0 0 #1da4bf;
}
#aero_soc_block li:active  {
	background-color:  #1da4bf;
}

#aero_soc_block li.active  {
	background-color:  #36bed9;
}

#aero_content  {
	margin-left:  250px;
	padding-left:  40px;
	position: relative;
	margin-right: 30px;
}
.aero_module_setting,  .aero_connect_setting  {
	display:  inline-block;
	max-width:  350px;
	width:  100%;
	vertical-align:  top;
}
.aero_module_setting  {
	margin-right:  65px;
}
.item_help_box  {
	width: 47%;
	min-width: 210px;
	max-width: 400px;
	display:  inline-block;
	box-sizing:  border-box;
	padding:  150px 10px 20px;
	background-size:  auto 80px;
	background-position:  center 30px;
	background-repeat:  no-repeat;
	border:  1px solid #d1d1d1;
	margin-right:  2%;
	text-align:  center;
	color:  #333;
	margin-bottom:  15px;
	min-height: 326px;
	position: relative;
	vertical-align: top;
}

.item_help_box .fa {
	margin-right: 6px;
}
.item_help_box:first-child .a-row{
	margin-top: 10px;
}
.item_help_box:first-child .a-col-1-2{
	padding: 0 10px;
	text-align: left;
}

.item_help_box:first-child .a-col-1-2 a{
	white-space: nowrap;
}

.item_help_box:first-child .phone{
	font-size: 140%;
	color: #0F151A !important;
	text-decoration: none !important;
}

.item_help_box  h5 {
	margin-bottom: 0;
}
.sms-aero .item_help_box  p {
	line-height: 1.1em !important;
	font: 12px/21px Ubuntu;
	color: #5d6978;
}
.sms-aero .item_help_box .btn.btn-white-red {
	display: inline-block;	text-decoration: none;
	margin: 5px auto 0;
}
.aero_ticket  {
	background-image:  url(../img/ticket.png);
}
.aero_cooperate  {
	background-image:  url(../img/cooperate.png);
}
.table_stats  {
	width:  100%;
	color:  #333;
	border-collapse: collapse;
	font: 12px/22px Ubuntu;
}
.table_stats th  {
	font-weight: 600;
	padding: 10px 5px;
	color: #5d6978;
}
.table_stats td {
	padding: 5px;
}
.table_stats th, .table_stats td {
	border: 1px solid #ededed;
}
.table_stats .align_right  {
	text-align:  right;
}
.table_stats .align_left  {
	text-align:  left;
}
.request__subs {
	position: absolute;
	right: 0;
	top: -24px;
}
.aero_box_right {
	float: right;
	max-width: 300px;
	width: 100%;
}
.table {
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.table_row {
	display: table-row;
	border-bottom: 2px solid #dddddd
}
.table_cell {
	display: table-cell;
	width: 50%;
	padding: 10px 0;
	vertical-align: top;

}
.table_row:nth-child(odd) {
	border-bottom: 1px solid #dddddd
}
.table_cell.cell_middle {
	vertical-align: middle;
}
.table_cell.time_sending  div {
	display: inline-block;
	vertical-align: middle;
}
.table small {
	display: block;
}

.sms-aero .a-col-1-3{
	width: 33.333333%;
	float: left;
	box-sizing: border-box;
}
.sms-aero .a-col-2-3{
	width: 66.666666%;
	float: left;
	box-sizing: border-box;
}

.sms-aero .a-col-1-2{
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.box-count-aerosms  {
	float: left;
	box-sizing: border-box;
}
.box-count-aerosms div {
	color: #0f151a;
	font-family: pantonregular, sans-serif;
	font-weight: 300;
	font-size: 13px;
}
.box-count-aerosms:first-child {
	margin-right: 50px;
}
.aero_pagination_wrapper {
	text-align: center;
	padding: 0 15px;
}
.aero_pagination li {
	display: inline-block;
	margin-right: 5px;
}
.aero_pagination li a {
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	text-decoration: none;
	font-size: 12px/22px;

}
.aero_pagination li.current a{
	color: #333;

}

#menu_switcher{
	width: 40px;
	height: 40px;
	margin: 0 5px;
	background: url('../img/mobile-menu.png') center 100% no-repeat;
	display: none;
	cursor: pointer;
	margin-bottom: 15px;
}
.aero-align-center {
	text-align: center !important;
}
.mailign-page .a-col-1-2 small + small {
	display: block;
}
.mailign-page .a-row:not(:last-of-type) {
	border-bottom: 2px solid #ededed;
}
@media screen and (min-width:1510px){
	.time_sending > div:first-child {
		float: left;
		margin-right: 10px;
	}
}
@media screen and (min-width:1600px){
	.time_sending > div:first-child {
		margin-right: 10%;
	}
}
@media screen and (max-width:1220px){
	#wrapper_left_aero{
		width: 50px;
		position: absolute;
		transition: width 0.5s;
		background-color: white;
		z-index: 9;
	}
	#aero_content{
		margin-left: 50px;
	}
	#wrapper_left_aero:not(.open) > *:not(#menu_switcher){
		transition: visibility 0.5s step-end;
		visibility: collapse;
	}
	#menu_switcher {
		display: block !important;
	}

	#wrapper_left_aero.open{
		width: 270px;
	}

}
@media screen and (max-width:960px){
	.sms-aero h1{
		font: 200 26px/30px Panton;
	}
	.sms-aero h2{
		font: 200 24px/30px Panton;
	}
	.sms-aero h5{
		font: 17px/30px Ubuntu;
		color: #253140;
	}
	.item_help_box:first-child .a-col-1-2{
		width: 100%;
		float: none;
		text-align: center;
	}
}

@media screen and (max-width:720px){
	#notice-side{
		margin-left: 0;
		display: block;
		clear: both;
		margin-right: 10px;
	}

	.notice-page > .a-row > .a-col-1-3{
		width: 50%;
	}

	.item_help_box{
		margin-right: 0;
	}

	.notice-righ-side {
		width: 50% !important;
	}

	.notice-righ-side .a-row > div{
		width: 100%;
		float: none;
	}
	.table_stats , .table_stats td , .table_stats tr , .table_stats tbody {
		display: block;
	}
	.table_stats thead {
		display: none;
	}
	.table_stats td {
		border: none;
	}
	.table_stats tr {
		border: 2px solid #ededed;
		margin-bottom: 10px;
	}
	.table_stats tr > td:not(:last-child) {
		border-bottom: 1px solid #ededed;
	}
}

@media screen and (max-width:520px){
	.notice-page > .a-row > .a-col-1-3 {
		width: 100%;
		float: none;
	}
	.mailign-page {
		margin-top: 25px;
	}
	.mailign-page .a-row {
		padding-bottom: 5px;
		margin-bottom: 15px;
		border-bottom: 2px solid #ededed;
	}
	.request__subs {
		top: -10px;
	}
	.mailign-page .a-row > .a-col-1-2 {
		float: none;
		width: 100%;
	}
	#aero_content{
		padding-left: 20px;
	}
	.notice-righ-side {
		width: 100% !important;
		float: none;
	}
}
